<h3>Add Merchant</h3>

<script>
  (function(){
    $('#question').tooltip('hide')
  })();
</script>

<div class="row-fluid">
  <div class="span5" style="border:1px solid red;">
    
  </div>

  <div class="span7" style="border:1px solid red;">
    <div class="form-horizontal">
      <div class="control-group">
      	<div class="control-label">Email Address <a href="#" id="question" rel="tooltip" data-original-title="Hey this is a tooltip"><i class="icon-question-sign"></i></a></div>
      	<div class="controls"><input class="span11" type="text" /></div>



      </div>
    </div>
  </div>


</div>



