<h1>Form</h1>
<h3>Help number: 555-555-5555</h3>
<form class="form-horizontal">
	<div class="control-group">
		<label class="control-label">Health Tradition Number:</label>
		<div class="controls"><input type="text" /></div>

		<label class="control-label">HT Member Last Name:</label>
		<div class="controls"><input type="text" /></div>

		<label class="control-label">Name:</label>
		<div class="controls"><input type="text" /></div>

		<label class="control-label">Address (line 1):</label>
		<div class="controls"><input type="text" /></div>

		<label class="control-label">Address (line 2):</label>
		<div class="controls"><input type="text" /></div>

		<label class="control-label">City:</label>
		<div class="controls"><input type="text" /></div>

		<label class="control-label">State:</label>
		<div class="controls"><input type="text" /></div>

		<label class="control-label">Zip:</label>
		<div class="controls"><input type="text" /></div>

		<label class="control-label">Phone:</label>
		<div class="controls"><input type="text" /></div>

		<label class="control-label">Social Security Number:</label>
		<div class="controls"><input type="text" /></div>

		<label class="control-label">Email:</label>
		<div class="controls"><input type="text" /></div>

		<div class="form-actions">
		  <button type="submit" class="btn">Submit</button>
		</div>
	</div>
</form>

