<h1>Do you have the book?</h1>


<h3>Warning!</h3>
<p>You must have a copy of the Mayo Clinic to Self-care to complete the Health Savvy video and earn your Reward Points. Your group has arranged for you to receive a copy of this book FREE (a $23.00 value). Please indecate below if you have or do not have the book. If you do not have the book, one will be delivered to you, at whic time you may return and view Health Savvy.</p>

<div class="row-fluid" >
	<div class="span2"><img src="http://placehold.it/150x200" /></div>
	<div class="span10">
		<h3>ALERT!</h3>
		<p><strong>You will need the Mayo Clinic Guide to Self-care to participate in this video workshop.</strong></p>
		<p>Do you have a copy of the Mayo Clinic Gide to Self-Care?</p>
		<form>
			<label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
  YES, I have a book
</label>
<label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
  NO, I don't have a book
</label>

<div class="form-actions">
  <button type="submit" class="btn">Continue</button>
</div>



		</form>

	</div>
</div>
	<p></p>

