<h3>Index</h3>
<a class="btn" data-toggle="modal" href="#myModal" >Launch Modal</a>

 <!-- Modal Window -->
  <div class="modal hide fade" id="myModal" style="display:hide;width:600px;min-height:800px;top:300px;">
    <div class="modal-header">
      <button class="close" data-dismiss="modal">×</button>
      <h3>Merchant Details</h3>
    </div>
    <div class="modal-body" style="min-height:800px;">
      <table class="table table-striped table-bordered table-condensed">
      	<tr>
      		<td class="span2 align-right">Business Name</td>
      		<td>AnnG's Hair &amp; Nail Studio</td>
      	</tr>
      	<tr>
      		<td class="span2 align-right">Number of Accesses</td>
      		<td><small><em>The merchant has not accepted the TOS. The must accept the TOS in order to access the system.</em></small></td>
      	</tr>
      	<tr>
      		<td class="span2 align-right">Last Access</td>
      		<td>NA</td>
      	</tr>
      	<tr>
      		<td class="span2 align-right">Account Start Date</td>
      		<td>November 29, 2012</td>
      	</tr>
      	<tr>
      		<td class="span2 align-right">Account End Date</td>
      		<td>August 29, 2013</td>
      	</tr>
      	<tr>
      		<td class="span2 align-right">Customer Number</td>
      		<td>10552</td>
      	</tr>
      	<tr>
      		<td class="span2 align-right">Customer Type</td>
      		<td>Dynamic</td>
      	</tr>
      	<tr>
      		<td class="span2 align-right">User ID</td>
      		<td>bortelann28@gmail.com</td>
      	</tr>
      	<tr>
      		<td class="span2 align-right">First Name</td>
      		<td>Ann</td>
      	</tr>
      	<tr>
      		<td class="span2 align-right">Last Name</td>
      		<td>Bortel</td>
      	</tr>
      	<tr>
      		<td class="span2 align-right">Business Address</td>
      		<td>1015 Revere Ave.</td>
      	</tr>
      	<tr>
      		<td class="span2 align-right">City</td>
      		<td>Bowling Green</td>
      	</tr>
      	<tr>
      		<td class="span2 align-right">State</td>
      		<td>OH</td>
      	</tr>
      	<tr>
      		<td class="span2 align-right">43402</td>
      		<td>1015 Revere Ave.</td>
      	</tr>
      	<tr>
      		<td class="span2 align-right">Phone Number</td>
      		<td>(419) 354-2664</td>
      	</tr>
      	<tr>
      		<td class="span2 align-right">Security Question</td>
      		<td>What's your pet's name?</td>
      	</tr>
      	<tr>
      		<td class="span2 align-right">Answer</td>
      		<td>Belle</td>
      	</tr>
      	<tr>
      		<td class="span2 align-right">Latitude</td>
      		<td>41.386403</td>
      	</tr>
      	<tr>
      		<td class="span2 align-right">Longitude</td>
      		<td>-83.662994</td>
      	</tr>
      	<tr>
      		<td class="span2 align-right">Map Location</td>
      		<td><img src="http://placehold.it/388x217" alt="Google Map here" /></td>
      	</tr>


      </table>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
  </div>
