<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<h3>Tooltips</h3>
   <p>This is an example of <a href="#" id= "example" rel="tooltip" title="This is a tooltip">tooltips</a>.</p>

   <script>
     (function(){
       $('#example').tooltip('hide')
     })();
   </script>