#header {border:1px solid #cdcdcd;margin-bottom:15px;}

#username {text-align:right;padding-right:15px;padding-top:1em;}
#username h3 {margin-top:20px;}
#username p {font-weight:bold;color:#939598;margin-top:-.5em;}

#main-content {border:1px solid #cdcdcd;padding:20px;min-height:500px;}
#main-content h3 {border-bottom:1px solid #cdcdcd;}
#main-content .control-label {font-size:12px;}

#main-content {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.left-nav {}
.left-nav ul.nav li {text-align:center;}
.left-nav ul.nav li a {color:#939598;font-weight:bold;}

/*Tables*/
table {margin-top:1em;}
.table-striped tbody tr:nth-child(even) td {background-color:#e4e4e3;}
.table-striped tbody tr:nth-child(odd) td {background-color:#ffffff;}
thead, tbody th {background-color:#e4e4e3;}

#teal.table-striped tbody tr:nth-child(even) td {background-color:#c4d8dd;}
.table-striped tbody tr:nth-child(odd) td {background-color:#ffffff;}
thead, tbody th {background-color:#e4e4e3;}




.controls {margin-bottom:1em;}

#footer {border:1px solid #cdcdcd;margin-top:20px;min-height:50px;line-height:50px;}